<%= content_for :title, "Sign in" %>

<div class="auth">
  <div class="auth__card">
    <%= image_tag "logo.svg", alt: "Clever", class: "auth__logo" %>
    <h1 class="auth__title">Sign in</h1>

    <%= form_with url: session_path do |f| %>
      <% if flash.now[:alert] %>
        <p class="auth__alert"><%= flash.now[:alert] %></p>
      <% end %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <%= f.submit "Sign in", class: "btn--primary" %>
    <% end %>
  </div>
</div>
