<div class="photo-card">
  <%= link_to photo.source_url, target: "_blank", rel: "noopener" do %>
    <%= image_tag photo.src_medium, alt: photo.photographer %>
  <% end %>
  <div class="photo-card__footer">
    <span class="photo-card__photographer"><%= photo.photographer %></span>
    <div class="photo-card__actions">
      <%= link_to photo.source_url, target: "_blank", rel: "noopener" do %>
        <%= image_tag "links.svg", alt: "Source" %>
      <% end %>
      <%= render "like_button", photo: photo, liked: liked_photo_ids.include?(photo.id) %>
    </div>
  </div>
</div>
